body,html{
	min-height: 100%; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
	font-family: 'Architects Daughter', cursive;
	
}

body{
	background: url(../image/background/01.jpg) no-repeat fixed;
	background-size: cover;
	font-size: 18px;
	width:100%;
	overflow-x:hidden;
}

h1{
	font-size: 200%;
	font-weight: 700;
}

p{
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
    color: black;
}

header{
	height:10%;
	background-color: rgba(255,255,255,0.8); 
}

#logo{
}

nav{
	font-weight: 700;
	float: right;
	line-height: 50px;
}

nav ul{
	display: flex;
    list-style-type: none;
}

nav ul li{
	margin-right: 15px;
}

nav .mobile{
	display:none;
}

nav .mobile .menu.open{
	transform: translate(-67px,0);
} 

nav .mobile .menu{
	width:130px;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	box-sizing: border-box;
    top: 50px;
    transition: transform 0.4s;
    transform: translate(130px,0);
}

nav .mobile p{
	padding: 0 10px;
	cursor: pointer;
}

section{
	text-align: center;
	padding: 20px;
    margin: 20px 0;
    box-sizing: border-box;
}

#introduction{
	background-color: rgba(67, 121, 131, 0.7); 
	min-height:13vh;   
}

#introduction .content-box{
	max-width: 65%;
	margin:0 auto;
}

#my-project{	
    background-color: rgba(15, 69, 79,0.7);
	overflow: hidden;
}

#my-project .color-box{
	display:flex;
	flex-wrap:wrap;
}

#my-project img{
 	max-width: 100%;
}

#my-project a{
	text-decoration: none; 
	color:black;
	font-weight: 700;
}

#my-project a:hover{
	text-decoration: none; 
	color:#541712;
}

#my-project .project-name{
	box-sizing: border-box;
	padding:20px;
	margin:10px auto;
	border-radius: 10px;
	color:#ffffff;
	background-color:#3F3d53;
}

#my-project .project-name.project2{
	background-color:#43242C;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {

}	
	    
@media screen and (max-width: 479px) {
nav .desktop{display: none;}
nav .mobile{display:block;}
#introduction .content-box{max-width: 100%;}
#my-project{padding: 20px 0;}
#my-project .content-box{width:100%; padding: 0;}
}
